---
import { Image } from "astro:assets";
import profileImage from "@assets/profile.webp";
---

<section>
  <div class="hero-content">
    <h3>¡Hola! Soy Francisco Guerrero,</h3>
    <h1>
      <span class="ux">Diseñador UX/UI</span>
      <span class="dev-container">
        <span class="dev">& Frontend Dev</span>
      </span>
    </h1>
    <p>
      Soy un profesional autodidacta de Argentina con experiencia en diseñar y
      desarrollar experiencias digitales. Me especializo en crear soluciones
      funcionales, accesibles y estéticamente atractivas. En mi trabajo,
      priorizo el uso de buenas prácticas para asegurar los mejores resultados.
      Busco formar parte de un equipo donde pueda aplicar mi creatividad y
      habilidades técnicas para desarrollar proyectos que marquen la diferencia.
    </p>
    <div class="cta-btns">
      <a
        href="mailto:franeguerrero@gmail.com"
        target="_blank"
        class="action-btn">Ponete en contacto</a
      >
      <a
        href="/public/Curriculum_Francisco_Guerrero.pdf"
        download
        class="cta-alt">Descargá mi currículum</a
      >
    </div>
  </div>
  <Image src={profileImage} alt="Hello, this is me" loading="eager" />
</section>

<style scoped>
  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 75rem;
    padding: 1rem;
    margin-top: 10rem;
  }
  .dev-container {
    display: inline-block;
  }
  .dev {
    font-family: var(--ff-mono);
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    border-right: clamp(0.125rem, 0.1979vw + 0.0755rem, 0.313rem) solid;
    display: inline-block;
    vertical-align: bottom;
    animation:
      typing 2s steps(14),
      cursor 400ms step-end infinite alternate;
  }

  @keyframes cursor {
    50% {
      border-right: clamp(0.125rem, 0.1979vw + 0.0755rem, 0.313rem) solid
        var(--background);
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .ux {
    color: var(--primary);
    font-weight: 900;
  }
  img {
    object-fit: contain;
    width: 30%;
    height: fit-content;
  }
  h3 {
    font-weight: 300;
    margin: 0;
  }
  h1 {
    line-height: 1em;
    font-size: var(--fs-h1-hero);
    margin: 2rem 0;
    text-wrap: balance;
  }
  p {
    text-wrap: balance;
  }

  .cta-btns {
    margin-top: var(--fs-h1-hero);
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .cta-alt {
    text-decoration: none;
    color: var(--black);
  }
  .cta-alt:hover {
    color: var(--primary-highlight);
    text-decoration: underline;
  }

  .action-btn {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--background);
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .action-btn:hover {
    color: var(--background);
    background-color: var(--primary-highlight);
  }

  @media (max-width: 70rem) {
    section {
      flex-direction: column-reverse;
      justify-content: center;
      margin-top: 10vh;
    }
    .hero-content {
      align-items: center;
      justify-content: center;
    }
    img {
      width: 80%;
      max-width: 40vh;
    }
    h1 {
      margin: 0.5rem;
      text-align: center;
      line-height: 1.2em;
    }
    .ux {
      text-wrap: nowrap;
      font-size: calc(var(--fs-h1-hero) + 0.5rem);
    }
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    .cta-btns {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
