---
import { Image } from "astro:assets";

const skills = [
  {
    nombre: "Figma",
    imagen: "/src/icons/figma.svg",
  },
  {
    nombre: "Astro",
    imagen: "/src/icons/astro.svg",
  },
  {
    nombre: "Typescript",
    imagen: "/src/icons/typescript.svg",
  },
  {
    nombre: "Javascript",
    imagen: "/src/icons/javascript.svg",
  },
  {
    nombre: "CSS",
    imagen: "/src/icons/css.svg",
  },
  {
    nombre: "HTML",
    imagen: "/src/icons/html.svg",
  },
  {
    nombre: "Tailwind",
    imagen: "/src/icons/tailwind.svg",
  },
  {
    nombre: "React",
    imagen: "/src/icons/reactjs.svg",
  },
  {
    nombre: "Git",
    imagen: "/src/icons/git.svg",
  },
  {
    nombre: "NodeJS",
    imagen: "/src/icons/nodejs.svg",
  },
  {
    nombre: "NestJS",
    imagen: "/src/icons/nestjs.svg",
  },
  {
    nombre: "PostgreSQL",
    imagen: "/src/icons/postgresql.svg",
  },
  {
    nombre: "MongoDB",
    imagen: "/src/icons/mongodb.svg",
  },
  {
    nombre: "Postman",
    imagen: "/src/icons/postman.svg",
  },
];
---

<section>
  <h2>Mi stack</h2>
  <div class="container">
    {
      skills.map((skill) => (
        <article>
          <Image
            loading="lazy"
            src={skill.imagen}
            alt={`${skill.nombre} logo`}
            height="100"
            width="100"
          />
          <h6>{skill.nombre}</h6>
        </article>
      ))
    }
  </div>
</section>

<style scoped>
  section {
    margin: auto;
    max-width: 75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  img {
    height: auto;
    width: auto;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    width: 100%;
    gap: 3rem;
  }
</style>
