---
import { Image } from "astro:assets";
import figmaIcon from "/src/icons/figma.svg";
import astroIcon from "/src/icons/astro.svg";
import typescriptIcon from "/src/icons/typescript.svg";
import javascriptIcon from "/src/icons/javascript.svg";
import cssIcon from "/src/icons/css.svg";
import htmlIcon from "/src/icons/html.svg";
import tailwindIcon from "/src/icons/tailwind.svg";
import reactIcon from "/src/icons/reactjs.svg";
import gitIcon from "/src/icons/git.svg";
import nodejsIcon from "/src/icons/nodejs.svg";
import nestjsIcon from "/src/icons/nestjs.svg";
import postgresqlIcon from "/src/icons/postgresql.svg";
import mongodbIcon from "/src/icons/mongodb.svg";
import postmanIcon from "/src/icons/postman.svg";

const skills = [
  { nombre: "Figma", imagen: figmaIcon },
  { nombre: "Astro", imagen: astroIcon },
  { nombre: "Typescript", imagen: typescriptIcon },
  { nombre: "Javascript", imagen: javascriptIcon },
  { nombre: "CSS", imagen: cssIcon },
  { nombre: "HTML", imagen: htmlIcon },
  { nombre: "Tailwind", imagen: tailwindIcon },
  { nombre: "React", imagen: reactIcon },
  { nombre: "Git", imagen: gitIcon },
  { nombre: "NodeJS", imagen: nodejsIcon },
  { nombre: "NestJS", imagen: nestjsIcon },
  { nombre: "PostgreSQL", imagen: postgresqlIcon },
  { nombre: "MongoDB", imagen: mongodbIcon },
  { nombre: "Postman", imagen: postmanIcon },
];
---

<section>
  <h2>Mi stack</h2>
  <div class="container">
    {
      skills.map((skill) => (
        <article>
          <Image
            loading="lazy"
            src={skill.imagen}
            alt={`${skill.nombre} logo`}
            height="100"
            width="100"
          />
          <h6>{skill.nombre}</h6>
        </article>
      ))
    }
  </div>
</section>

<style scoped>
  section {
    margin: auto;
    max-width: 75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  img {
    height: auto;
    width: auto;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    width: 100%;
    gap: 3rem;
  }
</style>
