---
import SpacerSection from "@layouts/SpacerSection.astro";
---

<SpacerSection>
  <h1>
    ¡Hola! Soy Fran, <span>FRONTEND DEV</span> y <span>UX/UI DESIGNER</span>
  </h1>
  <h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, laborum.
  </h2>
  <h3>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, laborum.
  </h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, laborum.
  </p>
</SpacerSection>
